<h1>Профиль</h1>

<div class="form-group">
  <p>
    <strong>Номер телефона: </strong>
    <%= @user.phone_number %>
  </p>
</div>

<div class="form-group">
  <p>
    <strong>Баланс: </strong>
    <%= '0' %>
  </p>
</div>
