<h1>Пополнение</h1>

<ul class="list-group payment-options">
  <%= link_to '500 рублей', '#', class: 'list-group-item' %>
  <%= link_to '1000 рублей', '#', class: 'list-group-item' %>
  <%= link_to '1500 рублей', '#', class: 'list-group-item' %>
  <%= link_to '2000 рублей', '#', class: 'list-group-item' %>
</ul>
