<h1>Баланс: 0 р.</h1>

<div class="panel panel-default">
  <div class="panel-body">
    В данном разделе вы можете пополнить ваш счет. Для этого воспользуйтесь одним из вариантов пополнения ниже.
  </div>
</div>

<h2>Пополнить</h2>

<ul class="list-group payment-options">
  <%= link_to '500 рублей', '#', class: 'list-group-item' %>
  <%= link_to '1000 рублей', '#', class: 'list-group-item' %>
  <%= link_to '1500 рублей', '#', class: 'list-group-item' %>
  <%= link_to '2000 рублей', '#', class: 'list-group-item' %>
</ul>
