<div class="page-header">
  <h1>Пополнить</h1>
</div>

<ul class="list-group">
  <%= link_to '500 рублей', '#', class: 'list-group-item' %>
  <%= link_to '1000 рублей', '#', class: 'list-group-item' %>
  <%= link_to '1500 рублей', '#', class: 'list-group-item' %>
  <%= link_to '2000 рублей', '#', class: 'list-group-item' %>
</ul>
