/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

$brand-primary: rgb(255, 95, 0);

$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-default-link-hover-bg: darken($brand-primary, 5);
$navbar-default-brand-hover-color: black;
$navbar-default-toggle-icon-bar-bg: white;
$navbar-default-bg: rgb(255, 95, 0);

@import 'bootstrap';

// Sticky footer styles
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}

// Not required for template or sticky footer method.
body > .container {
  padding: 100px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.payment-options {
  a {
    background: $brand-primary;
    color: white;
    border-color: lighten($brand-primary, 50);

    &:hover {
      background: darken($brand-primary, 5);
      color: black;
    }
  }
}
