<!--******** MAIN SECTION ********-->
<!--******************************-->
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="title">
          Ваш карманный помощник в вопросах учёбы
        </div>
        <div class="description">
          Мы оперативно поможем решить проблемы, связанные с учёбой.<br>
          Квалифицированные специалисты сэкономят ваше время и помогут сдать все работы на отлично. Вам не о чем волноваться.<br>
          Всё, что вам нужно - это скачать приложение и оформить заявку.
        </div>
        <div class="download">
          Скачать приложение
        </div>
        <a href="https://itunes.apple.com/ru/app/getthelp/id1073331646">
          <div class="download-btns">
            <div class="app-store-btn">
              <div class="onhover-opacity app-store-btn-hover">
              </div>
            </div>
          </div>
        </a>
        <a href="https://play.google.com/store/apps/details?id=binaryblitz.gethelpapp">
          <div class="download-btns">
            <div class="google-play-btn">
              <div class="onhover-opacity google-play-btn-hover">
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-5 col-lg-offset-1 col-md-12 iphone">
        <div class="align-center">
          <img class="iphone-pic" src="/images/Iphone.png">
        </div>
      </div>
    </div>
  </div>
</div>

<!--******** FEATURES SECTION ********-->
<!--**********************************-->
<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 features-title">
        Особенности приложения <span id="name">GetHelp</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="feature-pic" src="/images/Icon-onlinehelp.png">
        <div class="feature-name">Онлайн помощь на контрольной или экзамене</div>
        <div class="feature-description">Вы можете оставить заявку на онлайн-помощь во время контрольной, зачёта или экзамена. Наши специалисты решат задания максимально быстро, оставив вам время для написания работы.</div>
      </div>
      <div class="col-md-6">
        <img class="feature-pic" src="/images/Icon-payment.png">
        <div class="feature-name">Различные варианты оплаты</div>
        <div class="feature-description">Вы можете пополнить счёт мобильного приложения с помощью всех популярных видов платёжных систем. (Visa, MasterCard, Qiwi, WebMoney, YandexMoney и тд.)</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="feature-pic" src="/images/Icon-specialist.png">
        <div class="feature-name">Квалифицированные специалисты</div>
        <div class="feature-description">Наши сотрудники являются экспертами в различных областях. Укажите интересующий вас предмет, и мы обязательно поможем вам.</div>
      </div>
      <div class="col-md-6">
        <img class="feature-pic" src="/images/Icon-result.png">
        <div class="feature-name">Гарантия результата</div>
        <div class="feature-description">Если по какой-то причине вас не устроит результат выполненной работы, мы переделаем работу либо вернём вам деньги для последующего заказа.</div>
      </div>
    </div>
  </div>
</div>

<!--******** HOW WE WORK SECTION ********-->
<!--*************************************-->
<div class="how-ww" id="how-ww">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 how-ww-title">
        Как мы работаем
      </div>
      <div class="col-lg-12 how-ww-description">
        Стоимость заказа рассчитывается в зависимости от его сложности и сроков сдачи.<br>
        Окончательная цена выставляется после рассмотрения оператором в личном кабинете пользователя в разделе "Заказы".
      </div>
    </div>
    <div class="row">
      <img class="arrow1" src="/images/arr.png">
      <img class="arrow2" src="/images/arr.png">
      <img class="arrow3" src="/images/arr.png">
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 ">
        <div class="align-center">
          <img class="how-ww-icon" src="/images/Icon-download.png">
        </div>
        <div class="how-ww-name">Скачайте приложение</div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="align-center">
          <img class="how-ww-icon" src="/images/Icon-claim.png">
        </div>
        <div class="how-ww-name">Отправьте заявку на решение</div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="align-center">
          <img class="how-ww-icon" src="/images/Icon-pay.png">
        </div>
        <div class="how-ww-name">Пополните кошелёк и оплатите заказ</div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="align-center">
          <img class="how-ww-icon" src="/images/Icon-congratulations.png">
        </div>
        <div class="how-ww-name">Получите хорошую оценку</div>
      </div>
    </div>
  </div>
</div>
