<footer class="footer">
  <div class="container">
      <ul class="text-muted list-inline">
        <li><a href="/docs/Пользовательское соглашение.docx">Пользовательское соглашение</a></li>
        <li><a href="/docs/Политика конфиденциальности.docx">Политика конфиденциальности</a></li>
        <li>+7 (985) 555-88-60</li>
        <li><a href="mailto:support@getthelp.ru">support@getthelp.ru</a></li>
      </ul>
  </div>
</footer>
