<footer class="footer">
  <div class="container">
      <ul class="text-muted list-inline">
        <!-- <li>&copy; 2015 GettHelp.</li> -->
        <li><a href="/docs/Оферта 1.docx">Договор оферты №1</a></li>
        <li><a href="/docs/Оферта 2.docx">Договор оферты №2</a></li>
        <li><a href="#">Пользовательское соглашение</a></li>
        <li><a href="#">Политика конфиденциальности</a></li>
        <li>ООО "Бинари Блиц" ОГРН 1157746428047</li>
        <li>+7 (985) 555-88-60</li>
        <li><a href="mailto:support@getthelp.ru">support@getthelp.ru</a></li>
      </ul>
  </div>
</footer>
