<header>
  <div class="header">
    <nav class="navbar">
      <div class="navbar-header">
        <button class="navbar-toggle" id="black-border" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar black-bgcolor"></span>
          <span class="icon-bar black-bgcolor"></span>
          <span class="icon-bar black-bgcolor"></span>
        </button>
        <%= link_to image_tag('logoH.png', id: 'logo'), root_path, class: 'navbar-brand navText' %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'О сервисе', root_path, class: 'active header-link first-head' %></li>
          <li>
            <a class="navText header-link" href="tel:+74951153749">
              <span id="black-ph">+7 495 </span>
              <span id="orange-ph"> 115-37-49</span>
            </a>
          </li>
          <li><%= link_to 'Сделать заказ', new_web_order_path, class: 'nav-btn' %></li>
          <li>
            <a class="nav-btn" id="call-back">Перезвоните мне</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
