<!DOCTYPE html>
<html>
<head>
  <title>GetHelp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width mse_pre_init" id="u78-bw">
     <div class="gradient ose_pre_init" id="u78"><!-- simple frame --></div>
    </div>
    <a class="anchor_item colelem" id="top"></a>
    <div class="clearfix colelem" id="pu89"><!-- group -->
     <div class="browser_width grpelem" id="u89-bw">
      <div class="museBGSize" id="u89"><!-- group -->
       <div class="clearfix" id="u89_align_to_page">
        <div class="rounded-corners clearfix grpelem" id="u1670"><!-- group -->
         <!-- m_editable region-id="editable-static-tag-U1671" template="index.html" data-type="image" -->
         <div class="clip_frame grpelem" id="u1671" data-muse-uid="U1671" data-muse-type="img_frame"><!-- image -->
          <img class="block" id="u1671_img" src="images/contacts.png" data-hidpi-src="images/contacts_2x.png" alt="" width="37" height="37" data-muse-src="images/contacts.png"/>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1677" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix grpelem" id="u1677-4" data-muse-uid="U1677" data-muse-type="txt_frame"><!-- content -->
          <p>Вход в личный кабинет</p>
         </div>
         <!-- /m_editable -->
        </div>
        <!-- m_editable region-id="editable-static-tag-U96" template="index.html" data-type="image" -->
        <div class="clip_frame grpelem" id="u96" data-muse-uid="U96" data-muse-type="img_frame"><!-- image -->
         <img class="block" id="u96_img" src="images/iphone_cut%402x.png" alt="" width="758" height="619" data-muse-src="images/iphone_cut%402x.png"/>
        </div>
        <!-- /m_editable -->
       </div>
      </div>
     </div>
     <div class="museBGSize clearfix grpelem" id="u103"><!-- column -->
      <div class="position_content" id="u103_position_content">
       <!-- m_editable region-id="editable-static-tag-U1219" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <div class="clearfix colelem" id="u1219-4" data-muse-uid="U1219" data-muse-type="txt_frame"><!-- content -->
        <p>Ваш карманный помошник в вопросах учебы</p>
       </div>
       <!-- /m_editable -->
       <div class="clearfix colelem" id="pu1602"><!-- group -->
        <!-- m_editable region-id="editable-static-tag-U1602" template="index.html" data-type="image" -->
        <div class="clip_frame grpelem" id="u1602" data-muse-uid="U1602" data-muse-type="img_frame"><!-- image -->
         <img class="block" id="u1602_img" src="images/app_store_logo-1.png" data-hidpi-src="images/app_store_logo-1_2x.png" alt="" width="200" height="65" data-muse-src="images/app_store_logo-1.png"/>
        </div>
        <!-- /m_editable -->
        <!-- m_editable region-id="editable-static-tag-U1596" template="index.html" data-type="image" -->
        <div class="clip_frame grpelem" id="u1596" data-muse-uid="U1596" data-muse-type="img_frame"><!-- image -->
         <img class="block" id="u1596_img" src="images/1114778_1000.png" data-hidpi-src="images/1114778_1000_2x.png" alt="" width="200" height="65" data-muse-src="images/1114778_1000.png"/>
        </div>
        <!-- /m_editable -->
       </div>
      </div>
     </div>
     <img class="grpelem" id="u202" alt="&nbsp;GettHelp" src="images/blank.gif"/><!-- state-based BG images -->
     <div class="browser_width grpelem" id="u102-bw">
      <div id="u102"><!-- column -->
       <div class="clearfix" id="u102_align_to_page">
        <!-- m_editable region-id="editable-static-tag-U79" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
        <div class="clearfix colelem" id="u79-4" data-muse-uid="U79" data-muse-type="txt_frame"><!-- content -->
         <p>МЫ ОПЕРАТИВНО ПОМОЖЕМ РЕШИТЬ ПРОБЛЕМЫ, СВЯЗАННЫЕ УЧЕБОЙ</p>
        </div>
        <!-- /m_editable -->
        <!-- m_editable region-id="editable-static-tag-U80" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
        <div class="clearfix colelem" id="u80-4" data-muse-uid="U80" data-muse-type="txt_frame"><!-- content -->
         <p><span id="u80">Квалифицированные специалисты сэкономят ваше время и помогут сдать все работы на отлично. Вам не о чем волноваться. Все что вам нужно – это скачать приложение и оформить заявку.</span></p>
        </div>
        <!-- /m_editable -->
        <a class="anchor_item colelem" id="featured"></a>
        <div class="colelem" id="u83"><!-- simple frame --></div>
        <div class="clearfix colelem" id="ppu1543"><!-- group -->
         <div class="clearfix grpelem" id="pu1543"><!-- column -->
          <!-- m_editable region-id="editable-static-tag-U1543" template="index.html" data-type="image" -->
          <div class="clip_frame colelem" id="u1543" data-muse-uid="U1543" data-muse-type="img_frame"><!-- image -->
           <img class="block" id="u1543_img" src="images/pencil%20125%20orange.png" data-hidpi-src="images/pencil%20125%20orange_2x.png" alt="" width="44" height="44" data-muse-src="images/pencil%20125%20orange.png"/>
          </div>
          <!-- /m_editable -->
          <!-- m_editable region-id="editable-static-tag-U1537" template="index.html" data-type="image" -->
          <div class="clip_frame colelem" id="u1537" data-muse-uid="U1537" data-muse-type="img_frame"><!-- image -->
           <img class="block" id="u1537_img" src="images/hospital-chart%20125%20orange.png" data-hidpi-src="images/hospital-chart%20125%20orange_2x.png" alt="" width="44" height="44" data-muse-src="images/hospital-chart%20125%20orange.png"/>
          </div>
          <!-- /m_editable -->
          <!-- m_editable region-id="editable-static-tag-U1531" template="index.html" data-type="image" -->
          <div class="clip_frame colelem" id="u1531" data-muse-uid="U1531" data-muse-type="img_frame"><!-- image -->
           <img class="block" id="u1531_img" src="images/e-comerce%20125%20orange.png" data-hidpi-src="images/e-comerce%20125%20orange_2x.png" alt="" width="43" height="43" data-muse-src="images/e-comerce%20125%20orange.png"/>
          </div>
          <!-- /m_editable -->
         </div>
         <!-- m_editable region-id="editable-static-tag-U167" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix grpelem" id="u167-4" data-muse-uid="U167" data-muse-type="txt_frame"><!-- content -->
          <p id="u167-2">ЛЮБЫЕ ВИДЫ ЗАДАНИЙ</p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U114" template="index.html" data-type="image" -->
         <div class="clip_frame grpelem" id="u114" data-muse-uid="U114" data-muse-type="img_frame"><!-- image -->
          <img class="block" id="u114_img" src="images/iphone%402x.png" alt="" width="327" height="674" data-muse-src="images/iphone%402x.png"/>
         </div>
         <!-- /m_editable -->
         <div class="clearfix grpelem" id="pu1519"><!-- column -->
          <!-- m_editable region-id="editable-static-tag-U1519" template="index.html" data-type="image" -->
          <div class="clip_frame colelem" id="u1519" data-muse-uid="U1519" data-muse-type="img_frame"><!-- image -->
           <img class="block" id="u1519_img" src="images/diamond%20125%20orange.png" data-hidpi-src="images/diamond%20125%20orange_2x.png" alt="" width="44" height="44" data-muse-src="images/diamond%20125%20orange.png"/>
          </div>
          <!-- /m_editable -->
          <!-- m_editable region-id="editable-static-tag-U186" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
          <div class="clearfix colelem" id="u186-4" data-muse-uid="U186" data-muse-type="txt_frame"><!-- content -->
           <p>Вы можете пополнить счет мобильного приложения с помощью всех популярных видов платежных систем.(Visa, MasterCard, Qiwi, WebMoney, YandexMoney и т.д.)</p>
          </div>
          <!-- /m_editable -->
         </div>
        </div>
        <a class="anchor_item colelem" id="download"></a>
        <div class="colelem" id="u1221"><!-- simple frame --></div>
        <div class="clearfix colelem" id="pu1441"><!-- group -->
         <!-- m_editable region-id="editable-static-tag-U1441" template="index.html" data-type="image" -->
         <div class="clip_frame grpelem" id="u1441" data-muse-uid="U1441" data-muse-type="img_frame"><!-- image -->
          <img class="block" id="u1441_img" src="images/%d1%81%d0%ba%d0%b0%d1%87%d0%b0%d0%b9%d1%82%d0%b5%20%d0%bf%d1%80%d0%b8%d0%bb%d0%be%d0%b6%d0%b5%d0%bd%d0%b8%d0%b5%20orange%20250.png" data-hidpi-src="images/%d1%81%d0%ba%d0%b0%d1%87%d0%b0%d0%b9%d1%82%d0%b5%20%d0%bf%d1%80%d0%b8%d0%bb%d0%be%d0%b6%d0%b5%d0%bd%d0%b8%d0%b5%20orange%20250_2x.png" alt="" width="86" height="86" data-muse-src="images/%d1%81%d0%ba%d0%b0%d1%87%d0%b0%d0%b9%d1%82%d0%b5%20%d0%bf%d1%80%d0%b8%d0%bb%d0%be%d0%b6%d0%b5%d0%bd%d0%b8%d0%b5%20orange%20250.png"/>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1447" template="index.html" data-type="image" -->
         <div class="clip_frame grpelem" id="u1447" data-muse-uid="U1447" data-muse-type="img_frame"><!-- image -->
          <img class="block" id="u1447_img" src="images/%d0%be%d1%82%d0%bf%d1%80%d0%b0%d0%b2%d1%8c%d1%82%d0%b5%20%d0%b7%d0%b0%d1%8f%d0%b2%d0%ba%d1%83%20orange%20250.png" data-hidpi-src="images/%d0%be%d1%82%d0%bf%d1%80%d0%b0%d0%b2%d1%8c%d1%82%d0%b5%20%d0%b7%d0%b0%d1%8f%d0%b2%d0%ba%d1%83%20orange%20250_2x.png" alt="" width="86" height="86" data-muse-src="images/%d0%be%d1%82%d0%bf%d1%80%d0%b0%d0%b2%d1%8c%d1%82%d0%b5%20%d0%b7%d0%b0%d1%8f%d0%b2%d0%ba%d1%83%20orange%20250.png"/>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1453" template="index.html" data-type="image" -->
         <div class="clip_frame grpelem" id="u1453" data-muse-uid="U1453" data-muse-type="img_frame"><!-- image -->
          <img class="block" id="u1453_img" src="images/%d0%bf%d0%be%d0%bb%d1%83%d1%87%d0%b8%d1%82%d0%b5%20%d0%be%d0%b4%d0%be%d0%b1%d1%80%d0%b5%d0%bd%d0%b8%d0%b5%20orange%20250.png" data-hidpi-src="images/%d0%bf%d0%be%d0%bb%d1%83%d1%87%d0%b8%d1%82%d0%b5%20%d0%be%d0%b4%d0%be%d0%b1%d1%80%d0%b5%d0%bd%d0%b8%d0%b5%20orange%20250_2x.png" alt="" width="87" height="87" data-muse-src="images/%d0%bf%d0%be%d0%bb%d1%83%d1%87%d0%b8%d1%82%d0%b5%20%d0%be%d0%b4%d0%be%d0%b1%d1%80%d0%b5%d0%bd%d0%b8%d0%b5%20orange%20250.png"/>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1459" template="index.html" data-type="image" -->
         <div class="clip_frame grpelem" id="u1459" data-muse-uid="U1459" data-muse-type="img_frame"><!-- image -->
          <img class="block" id="u1459_img" src="images/%d0%bf%d0%be%d0%bf%d0%be%d0%bb%d0%bd%d0%b8%d1%82%d0%b5%20%d1%81%d1%87%d0%b5%d1%82%20orange%20250.png" data-hidpi-src="images/%d0%bf%d0%be%d0%bf%d0%be%d0%bb%d0%bd%d0%b8%d1%82%d0%b5%20%d1%81%d1%87%d0%b5%d1%82%20orange%20250_2x.png" alt="" width="89" height="89" data-muse-src="images/%d0%bf%d0%be%d0%bf%d0%be%d0%bb%d0%bd%d0%b8%d1%82%d0%b5%20%d1%81%d1%87%d0%b5%d1%82%20orange%20250.png"/>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1465" template="index.html" data-type="image" -->
         <div class="clip_frame grpelem" id="u1465" data-muse-uid="U1465" data-muse-type="img_frame"><!-- image -->
          <img class="block" id="u1465_img" src="images/%d0%bf%d0%be%d0%bb%d1%83%d1%87%d0%b8%d1%82%d0%b5%20%d1%80%d0%b5%d1%88%d0%b5%d0%bd%d0%b8%d0%b5%20orange%20250.png" data-hidpi-src="images/%d0%bf%d0%be%d0%bb%d1%83%d1%87%d0%b8%d1%82%d0%b5%20%d1%80%d0%b5%d1%88%d0%b5%d0%bd%d0%b8%d0%b5%20orange%20250_2x.png" alt="" width="87" height="87" data-muse-src="images/%d0%bf%d0%be%d0%bb%d1%83%d1%87%d0%b8%d1%82%d0%b5%20%d1%80%d0%b5%d1%88%d0%b5%d0%bd%d0%b8%d0%b5%20orange%20250.png"/>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1471" template="index.html" data-type="image" -->
         <div class="clip_frame grpelem" id="u1471" data-muse-uid="U1471" data-muse-type="img_frame"><!-- image -->
          <img class="block" id="u1471_img" src="images/%d0%bf%d0%be%d0%bb%d1%83%d1%87%d0%b8%d1%82%d0%b5%20%d0%b1%d0%b0%d0%bb%d0%bb%d1%8b%20orange%20250.png" data-hidpi-src="images/%d0%bf%d0%be%d0%bb%d1%83%d1%87%d0%b8%d1%82%d0%b5%20%d0%b1%d0%b0%d0%bb%d0%bb%d1%8b%20orange%20250_2x.png" alt="" width="87" height="87" data-muse-src="images/%d0%bf%d0%be%d0%bb%d1%83%d1%87%d0%b8%d1%82%d0%b5%20%d0%b1%d0%b0%d0%bb%d0%bb%d1%8b%20orange%20250.png"/>
         </div>
         <!-- /m_editable -->
        </div>
        <div class="clearfix colelem" id="pu1392-4"><!-- group -->
         <!-- m_editable region-id="editable-static-tag-U1392" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix grpelem" id="u1392-4" data-muse-uid="U1392" data-muse-type="txt_frame"><!-- content -->
          <p>Скачайте приложение</p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1235" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix grpelem" id="u1235-4" data-muse-uid="U1235" data-muse-type="txt_frame"><!-- content -->
          <p>Отправьте заявку на решение</p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1239" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix grpelem" id="u1239-4" data-muse-uid="U1239" data-muse-type="txt_frame"><!-- content -->
          <p>Получите подтверждение заказа</p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1242" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix grpelem" id="u1242-4" data-muse-uid="U1242" data-muse-type="txt_frame"><!-- content -->
          <p>Пополните кошелек и оплатите заказ</p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1243" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix grpelem" id="u1243-4" data-muse-uid="U1243" data-muse-type="txt_frame"><!-- content -->
          <p>Получите фото или текст решения</p>
         </div>
         <!-- /m_editable -->
         <!-- m_editable region-id="editable-static-tag-U1244" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
         <div class="clearfix grpelem" id="u1244-4" data-muse-uid="U1244" data-muse-type="txt_frame"><!-- content -->
          <p>Получите хорошую оценку</p>
         </div>
         <!-- /m_editable -->
        </div>
        <a class="anchor_item colelem" id="apps"></a>
        <div class="colelem" id="u865"><!-- simple frame --></div>
        <div class="clearfix colelem" id="pu246"><!-- group -->
         <div class="rounded-corners grpelem" id="u246"><!-- simple frame --></div>
         <div class="rounded-corners grpelem" id="u259"><!-- simple frame --></div>
        </div>
        <a class="anchor_item colelem" id="request"></a>
        <div class="colelem" id="u1207"><!-- simple frame --></div>
       </div>
      </div>
     </div>
     <div class="PamphletWidget clearfix grpelem" id="pamphletu120"><!-- none box -->
      <div class="popup_anchor" id="u123popup">
       <div class="ContainerGroup clearfix" id="u123"><!-- stack box -->
        <div class="Container museBGSize grpelem" id="u125"><!-- simple frame --></div>
        <div class="Container invi museBGSize grpelem" id="u143"><!-- simple frame --></div>
        <div class="Container invi museBGSize grpelem" id="u145"><!-- simple frame --></div>
       </div>
      </div>
      <div class="ThumbGroup clearfix grpelem" id="u129"><!-- none box -->
       <div class="popup_anchor">
        <div class="Thumb popup_element rounded-corners" id="u132"><!-- simple frame --></div>
       </div>
       <div class="popup_anchor">
        <div class="Thumb popup_element rounded-corners" id="u142"><!-- simple frame --></div>
       </div>
       <div class="popup_anchor">
        <div class="Thumb popup_element rounded-corners" id="u144"><!-- simple frame --></div>
       </div>
      </div>
     </div>
     <!-- m_editable region-id="editable-static-tag-U162" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u162-4" data-muse-uid="U162" data-muse-type="txt_frame"><!-- content -->
      <p>ОНЛАЙН ПОМОЩЬ НА КОНТРОЛЬНОЙ ИЛИ ЭКЗАМЕНЕ</p>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U164" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u164-4" data-muse-uid="U164" data-muse-type="txt_frame"><!-- content -->
      <p>Вы можете оставить заявку на онлайн-помощь во время контрольной, зачета или экзамена. Наши специалисты решат задания максимально быстро, оставив вам время для написания работы. С помощью нашего мобильного приложения.</p>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U168" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u168-4" data-muse-uid="U168" data-muse-type="txt_frame"><!-- content -->
      <p>Рефераты, курсовые, дипломные работы, домашние задания – наши специалисты постараются помочь справиться с любой задачей.</p>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U173" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u173-4" data-muse-uid="U173" data-muse-type="txt_frame"><!-- content -->
      <p>Наши сотрудники являются экспертами в различных областях. Укажите интересующий вас предмет, и мы обязательно придумаем чем вам помочь.</p>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U178" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u178-4" data-muse-uid="U178" data-muse-type="txt_frame"><!-- content -->
      <p>Весь процесс, от отправки заявки на помощь, до получения решенных заданий происходит через удобное мобильное приложение. Скачайте его, и проблемы с учебой исчезнут в ближайшее время.</p>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U182" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u182-4" data-muse-uid="U182" data-muse-type="txt_frame"><!-- content -->
      <p>Если по какой-то причине вас не устроит результат выполненной работы, мы переделаем работу, либо вернем вам деньги для последующего заказа.</p>
     </div>
     <!-- /m_editable -->
     <div class="clearfix grpelem" id="u85"><!-- group -->
      <!-- m_editable region-id="editable-static-tag-U86" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
      <div class="clearfix grpelem" id="u86-4" data-muse-uid="U86" data-muse-type="txt_frame"><!-- content -->
       <p>ОСОБЕННОСТИ</p>
      </div>
      <!-- /m_editable -->
     </div>
     <div class="grpelem" id="u860" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="0"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u866"><!-- group -->
      <!-- m_editable region-id="editable-static-tag-U867" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
      <div class="clearfix grpelem" id="u867-4" data-muse-uid="U867" data-muse-type="txt_frame"><!-- content -->
       <p>СКАЧАТЬ ПРИЛОЖЕНИЕ</p>
      </div>
      <!-- /m_editable -->
     </div>
     <div class="grpelem" id="u869" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="0"><!-- simple frame --></div>
     <!-- m_editable region-id="editable-static-tag-U1120" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u1120-4" data-muse-uid="U1120" data-muse-type="txt_frame"><!-- content -->
      <p>КВАЛИФИЦИРОВАННЫЕ СПЕЦИАЛИСТЫ</p>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1121" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u1121-4" data-muse-uid="U1121" data-muse-type="txt_frame"><!-- content -->
      <p id="u1121-2">МОБИЛЬНОЕ ПРИЛОЖЕНИЕ</p>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1122" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u1122-4" data-muse-uid="U1122" data-muse-type="txt_frame"><!-- content -->
      <p id="u1122-2">ГАРАНТИЯ РЕЗУЛЬТАТА</p>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1124" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
     <div class="clearfix grpelem" id="u1124-4" data-muse-uid="U1124" data-muse-type="txt_frame"><!-- content -->
      <p>РАЗЛИЧНЫЕ ВАРИАНТЫ ОПЛАТЫ</p>
     </div>
     <!-- /m_editable -->
     <div class="clearfix grpelem" id="u1208"><!-- group -->
      <!-- m_editable region-id="editable-static-tag-U1209" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
      <div class="clearfix grpelem" id="u1209-4" data-muse-uid="U1209" data-muse-type="txt_frame"><!-- content -->
       <p>ОСТАВИТЬ ЗАЯВКУ</p>
      </div>
      <!-- /m_editable -->
     </div>
     <div class="grpelem" id="u1210" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="0"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u1222"><!-- group -->
      <!-- m_editable region-id="editable-static-tag-U1223" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
      <div class="clearfix grpelem" id="u1223-4" data-muse-uid="U1223" data-muse-type="txt_frame"><!-- content -->
       <p>КАК МЫ РАБОТАЕМ</p>
      </div>
      <!-- /m_editable -->
     </div>
     <div class="grpelem" id="u1225" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="0"><!-- simple frame --></div>
     <form class="form-grp clearfix grpelem" id="widgetu1279" method="post" enctype="multipart/form-data" action="scripts/form-u1279.php"><!-- none box -->
      <div class="fld-grp clearfix grpelem" id="widgetu1292" data-required="true"><!-- none box -->
       <!-- m_editable region-id="editable-static-tag-U1294" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <label class="fld-label actAsDiv clearfix grpelem" id="u1294-4" data-muse-uid="U1294" data-muse-type="txt_frame" for="widgetu1292_input"><!-- content --><span class="actAsPara">Имя:</span></label>
       <!-- /m_editable -->
       <!-- m_editable region-id="editable-static-tag-U1295" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u1295-4" data-muse-uid="U1295" data-muse-type="txt_frame"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu1292_input" name="custom_U1292" tabindex="1"/><label class="wrapped-input fld-prompt" id="widgetu1292_prompt" for="widgetu1292_input"><span class="actAsPara">например Иван Петров</span></label></span>
       <!-- /m_editable -->
      </div>
      <div class="fld-grp clearfix grpelem" id="widgetu1282" data-required="true" data-type="email"><!-- none box -->
       <!-- m_editable region-id="editable-static-tag-U1285" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <label class="fld-label actAsDiv clearfix grpelem" id="u1285-4" data-muse-uid="U1285" data-muse-type="txt_frame" for="widgetu1282_input"><!-- content --><span class="actAsPara">Email:</span></label>
       <!-- /m_editable -->
       <!-- m_editable region-id="editable-static-tag-U1283" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u1283-4" data-muse-uid="U1283" data-muse-type="txt_frame"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu1282_input" name="Email" tabindex="2"/><label class="wrapped-input fld-prompt" id="widgetu1282_prompt" for="widgetu1282_input"><span class="actAsPara">например petrov@mail.ru</span></label></span>
       <!-- /m_editable -->
      </div>
      <!-- m_editable region-id="editable-static-tag-U1280" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
      <div class="clearfix grpelem" id="u1280-4" data-muse-uid="U1280" data-muse-type="txt_frame"><!-- content -->
       <p>Отправка заявки...</p>
      </div>
      <!-- /m_editable -->
      <!-- m_editable region-id="editable-static-tag-U1290" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
      <div class="clearfix grpelem" id="u1290-4" data-muse-uid="U1290" data-muse-type="txt_frame"><!-- content -->
       <p>Ошибка отправки. Повторите.</p>
      </div>
      <!-- /m_editable -->
      <!-- m_editable region-id="editable-static-tag-U1281" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
      <div class="clearfix grpelem" id="u1281-4" data-muse-uid="U1281" data-muse-type="txt_frame"><!-- content -->
       <p>Заявка успешно отправлена!</p>
      </div>
      <!-- /m_editable -->
      <input class="submit-btn NoWrap grpelem" id="u1291-17" type="submit" value="" tabindex="4"/><!-- state-based BG images -->
      <div class="fld-grp clearfix grpelem" id="widgetu1286" data-required="false"><!-- none box -->
       <!-- m_editable region-id="editable-static-tag-U1287" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <label class="fld-label actAsDiv clearfix grpelem" id="u1287-4" data-muse-uid="U1287" data-muse-type="txt_frame" for="widgetu1286_input"><!-- content --><span class="actAsPara">Комментарий:</span></label>
       <!-- /m_editable -->
       <!-- m_editable region-id="editable-static-tag-U1288" template="index.html" data-type="html" data-ice-options="disableImageResize,link" -->
       <span class="fld-textarea actAsDiv clearfix grpelem" id="u1288-4" data-muse-uid="U1288" data-muse-type="txt_frame"><!-- content --><textarea class="wrapped-input" id="widgetu1286_input" name="custom_U1286" tabindex="3"></textarea><label class="wrapped-input fld-prompt" id="widgetu1286_prompt" for="widgetu1286_input"><span class="actAsPara">Дополнительная информация о заказе</span></label></span>
       <!-- /m_editable -->
      </div>
     </form>
     <!-- m_editable region-id="editable-static-tag-U1516" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u1516" data-muse-uid="U1516" data-muse-type="img_frame"><!-- image -->
      <img class="block" id="u1516_img" src="images/iphone%20125%20orange.png" data-hidpi-src="images/iphone%20125%20orange_2x.png" alt="" width="44" height="44" data-muse-src="images/iphone%20125%20orange.png"/>
     </div>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1525" template="index.html" data-type="image" -->
     <div class="clip_frame grpelem" id="u1525" data-muse-uid="U1525" data-muse-type="img_frame"><!-- image -->
      <img class="block" id="u1525_img" src="images/wallet%20125%20orange.png" data-hidpi-src="images/wallet%20125%20orange_2x.png" alt="" width="44" height="44" data-muse-src="images/wallet%20125%20orange.png"/>
     </div>
     <!-- /m_editable -->
    </div>
    <div class="clearfix colelem" id="pu1109"><!-- group -->
     <!-- m_editable region-id="editable-static-tag-U1109" template="index.html" data-type="html" data-ice-options="clickable" data-ice-editable="link" -->
     <a class="nonblock nontext anim_swing ose_pre_init" id="u1109" href="index.html#top" data-href="anchor:U66:U557" data-muse-uid="U1109"><!-- simple frame --></a>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1113" template="index.html" data-type="html" data-ice-options="clickable" data-ice-editable="link" -->
     <a class="nonblock nontext anim_swing rounded-corners" id="u1113" href="index.html#top" data-href="anchor:U66:U557" data-muse-uid="U1113"><!-- simple frame --></a>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1110" template="index.html" data-type="html" data-ice-options="clickable" data-ice-editable="link" -->
     <a class="nonblock nontext anim_swing ose_pre_init" id="u1110" href="index.html#featured" data-href="anchor:U66:U1101" data-muse-uid="U1110"><!-- simple frame --></a>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1114" template="index.html" data-type="html" data-ice-options="clickable" data-ice-editable="link" -->
     <a class="nonblock nontext anim_swing rounded-corners" id="u1114" href="index.html#featured" data-href="anchor:U66:U1101" data-muse-uid="U1114"><!-- simple frame --></a>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1111" template="index.html" data-type="html" data-ice-options="clickable" data-ice-editable="link" -->
     <a class="nonblock nontext anim_swing ose_pre_init" id="u1111" href="index.html#download" data-href="anchor:U66:U1116" data-muse-uid="U1111"><!-- simple frame --></a>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1115" template="index.html" data-type="html" data-ice-options="clickable" data-ice-editable="link" -->
     <a class="nonblock nontext anim_swing rounded-corners" id="u1115" href="index.html#download" data-href="anchor:U66:U1116" data-muse-uid="U1115"><!-- simple frame --></a>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1226" template="index.html" data-type="html" data-ice-options="clickable" data-ice-editable="link" -->
     <a class="nonblock nontext anim_swing ose_pre_init" id="u1226" href="index.html#apps" data-href="anchor:U66:U1277" data-muse-uid="U1226"><!-- simple frame --></a>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1227" template="index.html" data-type="html" data-ice-options="clickable" data-ice-editable="link" -->
     <a class="nonblock nontext anim_swing rounded-corners" id="u1227" href="index.html#apps" data-href="anchor:U66:U1277" data-muse-uid="U1227"><!-- simple frame --></a>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1228" template="index.html" data-type="html" data-ice-options="clickable" data-ice-editable="link" -->
     <a class="nonblock nontext anim_swing ose_pre_init" id="u1228" href="index.html#request" data-href="anchor:U66:U1278" data-muse-uid="U1228"><!-- simple frame --></a>
     <!-- /m_editable -->
     <!-- m_editable region-id="editable-static-tag-U1229" template="index.html" data-type="html" data-ice-options="clickable" data-ice-editable="link" -->
     <a class="nonblock nontext anim_swing rounded-corners" id="u1229" href="index.html#request" data-href="anchor:U66:U1278" data-muse-uid="U1229"><!-- simple frame --></a>
     <!-- /m_editable -->
    </div>
    <div class="verticalspacer"></div>
    <div class="clearfix colelem" id="pu317"><!-- group -->
     <div class="browser_width grpelem" id="u317-bw">
      <div id="u317"><!-- column -->
       <div class="clearfix" id="u317_align_to_page">
        <div class="clearfix colelem" id="pu566-4"><!-- group -->
         <div class="clearfix grpelem" id="u566-4"><!-- content -->
          <p>СВЯЗАТЬСЯ С НАМИ</p>
         </div>
         <a class="nonblock nontext clip_frame grpelem" id="u1377" href="http://binaryblitz.ru"><!-- image --><img class="block" id="u1377_img" src="images/binary%20blitz%20transparent-3.png" data-hidpi-src="images/binary%20blitz%20transparent-3_2x.png" alt="" width="166" height="29"/></a>
        </div>
        <div class="clearfix colelem" id="ppu1386-4"><!-- group -->
         <div class="clearfix grpelem" id="pu1386-4"><!-- group -->
          <a class="nonblock nontext clearfix grpelem" id="u1386-4" href="http://binaryblitz.ru"><!-- content --><p><span id="u1386">Пользовательское соглашение</span></p></a>
          <div class="clearfix grpelem" id="u568-4"><!-- content -->
           <p>Email : Support@getthelp.ru</p>
          </div>
         </div>
         <div class="clearfix grpelem" id="u873-8"><!-- content -->
          <p>ООО &quot;Бинари Блиц&quot;</p>
          <p>ОГРН 1157746428047</p>
          <p>+7 (985) 555-88-60</p>
         </div>
         <div class="clearfix grpelem" id="u1388-4"><!-- content -->
          <p>Правила сервиса</p>
         </div>
        </div>
        <a class="nonblock nontext clearfix colelem" id="u1387-4" href="http://binaryblitz.ru"><!-- content --><p><span id="u1387">Политика конфиденциальности</span></p></a>
        <div class="clearfix colelem" id="u1097-4"><!-- content -->
         <p>GettHelp - быстрая помощь по учебе!</p>
        </div>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u567-4"><!-- content -->
      <p>По вопросам связанным с проектом и приложениями обращайтесь.</p>
     </div>
     <div class="browser_width grpelem" id="u871-bw">
      <div id="u871"><!-- group -->
       <div class="clearfix" id="u871_align_to_page">
        <div class="clearfix grpelem" id="u872-4"><!-- content -->
         <p>2015 Copyright GettHelp</p>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="preload_images">
   <img class="preload" src="images/u202-r.png" alt=""/>
   <img class="preload" src="images/u202-r_2x.png" alt=""/>
   <img class="preload" src="images/appstore_hov%402x.png" alt=""/>
   <img class="preload" src="images/appstore_hov%402x_2x.png" alt=""/>
   <img class="preload" src="images/playstore_hov%402x.png" alt=""/>
   <img class="preload" src="images/playstore_hov%402x_2x.png" alt=""/>
   <img class="preload" src="images/u1291-17-r.png" alt=""/>
   <img class="preload" src="images/u1291-17-m.png" alt=""/>
   <img class="preload" src="images/u1291-17-fs.png" alt=""/>
   <img class="preload" src="images/u1291-17-r_2x.png" alt=""/>
   <img class="preload" src="images/u1291-17-m_2x.png" alt=""/>
   <img class="preload" src="images/u1291-17-fs_2x.png" alt=""/>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
    if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
  </script>
  <script type="text/javascript">
    window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
  </script>
  <!-- <script src="scripts/museutils.js?275725342" type="text/javascript"></script>
  <script src="scripts/jquery.scrolleffects.js?206645848" type="text/javascript"></script>
  <script src="scripts/jquery.watch.js?3999102769" type="text/javascript"></script>
  <script src="scripts/jquery.musepolyfill.bgsize.js?185257658" type="text/javascript"></script>
  <script src="scripts/webpro.js?3883484123" type="text/javascript"></script>
  <script src="scripts/musewpslideshow.js?360574455" type="text/javascript"></script>
  <script src="scripts/jquery.museoverlay.js?342093292" type="text/javascript"></script>
  <script src="scripts/touchswipe.js?4218319045" type="text/javascript"></script> -->
  <!-- Other scripts -->
</body>
</html>
