<!DOCTYPE html>
<html>
<head>
  <title>GetHelp</title>
  <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>

    <div class="container">
      <div class="center">
        <h1>GettHelp</h1>
        <p>
          Under development.
        </p>
      </div>
    </div>

  </body>
</html>
